//COLORS

$blue1: green;
$blue2: rgb(146, 214, 146);
$blue3: green;
$blue4: rgb(103, 173, 103);
$blue5: rgb(103, 173, 103);
$blue6: #cbe0f2;

$main_color: rgb(165, 218, 165);
$hover_color: #4c97d8;
$main_bg: #ffffff;
$button_color: #fff;

$error: #dc3545;
$danger: #ffc107;
$success: #28a745;
